body {
  background-color: #1a1a1a;
  font-family: Arial, San-Serif;
  padding-top: 40px;
}
.login
{
  padding-left: 35%;
}
.login h1{
  font-size: 280%;
  padding-left: 14%;
}
.login form{
  padding-top: 10px;
}
.login input{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  box-sizing: border-box;
  width: 50%;
}
.login button{
  margin-left: 180px;
  margin-top: 35px;
  padding: 10px;
  display: inline-block;
  font-size: 16px;
  border: none;
}
.login button:hover
{
  box-shadow: 0 12px 16px 0 rgba(134, 127, 127, 0.24), 0 17px 50px 0 rgba(148, 138, 138, 0.19);
}

