<ul>
    <% for(let i=0; i<products.length; ++i) { %>
        <li>
            <img src= "../image/1.jpg" > <%=products[i].product_name %> <%=products[i].status %>
            
        </li>
    <%} %>
</ul>